<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图片上传</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="img">
        <input type="submit" value="上传图片(测试集合)">
        <td>{{ flag }}</td>
    </form><br>

    <form action="downLoad/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="addr" value="">
        <input type="submit" name="button" value="下载图片">
        <br>
        <br>
        <input type="button" value="刷新" onclick="jump3(this)">
    </form>

    <script>
    function jump(){window.location.href="/showImg";}
    function jump2(){window.location.href="/showFace"}
    function jump3(){window.location.href="/"}
    function jump4(obj){ alert(obj); }
    function showSelected(obj) {var x = document.getElementById("image").getAttribute("src");alert("aaa");}
    {#更换人脸照片#}
    </script>

    <br>
    <input type="button" value="显示测试集合" onclick=jump()> -- <input type="button" value="更换测试照片" onclick="jump4(this)"> -------------------------> <input type="button" value="人脸识别" onclick=jump2()>

    <br>
    {% load staticfiles %}
    <img ID="face" name="face" src="{%static "picF2/a1.jpg"%}" width=200 height=260>

    <br>
    <br>
    {% load staticfiles %}
    {% for item in imgs %}
{#        <td>{%   item.img_url %}</td>#}
        <img width=200 height=260 src="{%static ''%}{{ item.img_url }}">
    {% endfor %}

    {% load staticfiles %}
    {% for item in face %}
{#        <td>{%   item.img_url %}</td>#}
        <img width=200 height=260 src="{%static ''%}{{ item }}">
    {% endfor %}
{#        <img src="{%static "picF1/zhj1.jpeg"%}">#}

</body>
</html>
